* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 10px auto 0;
  border: 3px solid black;
  width: 566px;
  height: 566px;

  display: flex;
  flex-wrap: wrap;
}

.canvas-element {
  width: 35px;
  height: 35px;
}

.active {
  background-color: blueviolet;
}